body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.default-form {
    padding: 0; width: 250px; margin: auto;
}

.default-form-div {
    width: 80px; display: inline-block;
}

.form-wrapper {
    text-align: center;
}

