doctype html
html
  head
    title= title
    link(rel="shortcut icon" type="image/x-icon" href='favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="javascript", href="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    block content