doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="javascript", href="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    block content
    img(src='images/untitled.png', style='position: absolute; right: 0; bottom: 0')

