doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="javascript", href="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="shortcut icon" href="/images/icon.jpg" type="image/x-icon")
  body
    block content