extends layout

block content
    div(class="form-wrapper")
        h1 Login page
        p Here you can authenticate yourself

        form(action='/api/auth/login', method='POST', class="default-form")
            div
                div
                    div(class="default-form-div")
                        | Username:
                    input(type='text', class="form-control", name='name', value='')
                div
                    div(class="default-form-div")
                        |  Password :
                    input(type='text', class="form-control", name='password', value='')
            input(type='submit', class='mt-2', value='Submit')

        a(href='/') Return to main page